@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

p,
a {
  font-family: "Lato", sans-serif;
}
.side-nav {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
.side-nav a {
  margin: 5px 0;
  padding: 20px;
  color: white;
}
.side-nav a:hover {
  color: white;
}
.book {
  width: 300px;
  background-color: rgba(2, 2, 2, 0.041);
}
.bookImg {
  width: 80%;
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  .side-nav {
    min-height: 70px;
    flex-direction: row !important;
  }
}

@media (max-width: 500px) {
  .book {
    width: 250px;
  }
}
